<div class="panel panel-default">
	<!--
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
        	<li>装机管理</li>
            <li class="active">录入新设备</li>
        </ol>
    </div>
    -->
    <div class="panel-body">
	    <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
        	<li>虚拟机列表</li>
            <li class="active">虚拟机详情</li>
        </ol>
		<br>
        <table class="table table-bordered">
			<tbody>
				<tr>
					<td class="active" align="right" width="20%"><label>所在宿主机SN</label></td>
					<td width="80%">
						<div class="col-md-5">{{item.DeviceSn}}</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right" width="20%"><label>ID</label></td>
					<td width="80%">
						<div class="col-md-5">{{item.ID}}</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>Mac</label></td>
					<td>
						<div class="col-md-5">{{item.Mac}}</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>主机名</label></td>
					<td>
						<div class="col-md-5">{{item.Hostname}}</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>IP</label></td>
					<td>
						<div class="col-md-5">
							{{item.Ip}}
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>VNC 端口</label></td>
					<td>
						<div class="col-md-5">
							{{item.VncPort}}
						</div>
					</td>
				</tr>


				<tr>
					<td class="active" align="right"><label>匹配到网段</label></td>
					<td>
						<div class="col-md-5">
							{{item.NetworkName}}
						</div>
					</td>
				</tr>


				<tr>
					<td class="active" align="right"><label>PXE模板</label></td>
					<td>
						<div class="col-md-5">
							{{item.OsName}}
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>系统安装模板</label></td>
					<td>
						<div class="col-md-5">
							{{item.SystemName}}
						</div>
					</td>
				</tr>
				

				{{!-- <tr>
					<td class="active" align="right"><label>CPU</label></td>
					<td>
						<table class="table table-hover">
		                    <thead>
		                    	
			                    <tr>
			                      <th width="25%">配置项</th>
			                      <th width="75%">结果</th>
			                    </tr>
			                    
		                    </thead>
		                    <tbody>
								<tr>
									<td>分配CPU核数：</td>
									<td>{{item.CpuCoresNumber}}</td>
								</tr>
								<tr>
									<td>热插：</td>
									<td>
									{{#if (eq "Yes" item.CpuHotPlug)}}
										是
									{{/if}}
									{{#if (eq "No" item.CpuHotPlug)}}
										否
									{{/if}}</td>
								</tr>
								<tr>
									<td>passthrough：</td>
									<td>
									{{#if (eq "Yes" item.CpuPassthrough)}}
										是
									{{/if}}
									{{#if (eq "No" item.CpuPassthrough)}}
										否
									{{/if}}
									</td>
								</tr>
								<tr>
									<td>插槽：</td>
									<td>{{item.CpuTopSockets}}</td>
								</tr>
								<tr>
									<td>核数：</td>
									<td>{{item.CpuTopCores}}</td>
								</tr>
								<tr>
									<td>线程：</td>
									<td>{{item.CpuTopThreads}}</td>
								</tr>
								<tr>
									<td>CPU绑定：</td>
									<td>{{item.CpuPinning}}</td>
								</tr>			
			 				</tbody>
			 			</table>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>内存</label></td>
					<td>
						<table class="table table-hover">
		                    <thead>
		                    	
			                    <tr>
			                      <th width="25%">配置项</th>
			                      <th width="75%">结果</th>
			                    </tr>
			                    
		                    </thead>
		                    <tbody>
								<tr>
									<td>当前分配内存：</td>
									<td>{{item.MemoryCurrent}} MB</td>
								</tr>
								<tr>
									<td>最大分配内存：</td>
									<td>{{item.MemoryMax}} MB</td>
								</tr>
								<tr>
									<td>内存压缩：</td>
									<td>
									{{#if (eq "Yes" item.MemoryKsm)}}
										是
									{{/if}}
									{{#if (eq "No" item.MemoryKsm)}}
										否
									{{/if}}
									</td>
								</tr>			
			 				</tbody>
			 			</table>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>磁盘</label></td>
					<td>
						<table class="table table-hover">
		                    <thead>
		                    	
			                    <tr>
			                      <th width="25%">配置项</th>
			                      <th width="75%">结果</th>
			                    </tr>
			                    
		                    </thead>
		                    <tbody>
								<tr>
									<td>磁盘类型：</td>
									<td>{{item.DiskType}}</td>
								</tr>
								<tr>
									<td>磁盘大小：</td>
									<td>{{item.DiskSize}} GB</td>
								</tr>
								<tr>
									<td>磁盘总线类型：</td>
									<td>{{item.DiskBusType}}</td>
								</tr>
								<tr>
									<td>缓存模式：</td>
									<td>{{item.DiskCacheMode}}</td>
								</tr>
								<tr>
									<td>IO模式：</td>
									<td>{{item.DiskIoMode}}</td>
								</tr>
			 				</tbody>
			 			</table>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>网络</label></td>
					<td>
						<table class="table table-hover">
		                    <thead>
		                    	
			                    <tr>
			                      <th width="25%">配置项</th>
			                      <th width="75%">结果</th>
			                    </tr>
			                    
		                    </thead>
		                    <tbody>
								<tr>
									<td>网络类型：</td>
									<td>
									{{#if (eq "bridge" item.NetworkType)}}
										桥接
									{{/if}}
									{{#if (not-eq "bridge" item.NetworkType)}}
										{{item.NetworkType}}
									{{/if}}
									</td>
								</tr>
								<tr>
									<td>设备类型：</td>
									<td>{{item.NetworkDeviceType}}</td>
								</tr>
			 				</tbody>
			 			</table>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>显示</label></td>
					<td>
						<table class="table table-hover">
		                    <thead>
		                    	
			                    <tr>
			                      <th width="25%">配置项</th>
			                      <th width="75%">结果</th>
			                    </tr>
			                    
		                    </thead>
		                    <tbody>
								<tr>
									<td>显示类型：</td>
									<td>
									{{#if (eq "serialPorts" item.DisplayType)}}
										串口
									{{/if}}
									{{#if (not-eq "serialPorts" item.DisplayType)}}
										{{item.DisplayType}}
									{{/if}}
									</td>
								</tr>
								{{#if (not-eq "serialPorts" item.DisplayType)}}
								<tr>
									<td>密码：</td>
									<td>{{item.DisplayPassword}}</td>
								</tr>
								<tr>
									<td>更新密码：</td>
									<td>
									{{#if (eq "Yes" item.DisplayUpdatePassword)}}
										是
									{{/if}}
									{{#if (eq "No" item.DisplayUpdatePassword)}}
										否
									{{/if}}
									</td>
								</tr>
								{{/if}}
			 				</tbody>
			 			</table>
					</td>
				</tr> --}}

				<tr>
					<td class="active" align="right"><label>运行状态</label></td>
					<td>
						<div class="col-md-5">
							{{#if (eq "running" item.RunStatus)}}
								<span class="text-success">运行中</span>
							{{/if}}
							{{#if (eq "stop" item.RunStatus)}}
								<span class="text-danger">已停止</span>
							{{/if}}
						</div>
					</td>
				</tr>
				
				<tr>
					<td class="active" align="right"><label>装机状态</label></td>
					<td>
						<div class="col-md-5">
							{{#if (eq "pre_create" item.Status)}}
								<span class="text-muted">等待创建</span>
							{{/if}}

							{{#if (eq "creating" item.Status)}}
								<span class="text-info">正在创建</span>
							{{/if}}

							{{#if (eq "create_failure" item.Status)}}
								<span class="text-danger">创建失败</span>
							{{/if}}

							{{#if (eq "pre_install" item.Status)}}
								<span class="text-muted">等待安装</span>
							{{/if}}

							{{#if (eq "installing" item.Status)}}
								<span class="text-info">正在安装</span>
							{{/if}}

							{{#if (eq "success" item.Status)}}
								<span class="text-success">安装成功</span>
							{{/if}}

							{{#if (eq "failure" item.Status)}}
								<span class="text-danger">安装失败</span>
							{{/if}}
						</div>
					</td>
				</tr>



				

				<!--
				<tr>
					<td class="active" align="right"><label>安装进度</label></td>
					<td>
						{{#link-to "dashboard.log.detail" item.ID "install"}}
						<div class="col-md-4">
							<div class="progress progress-striped active" title="{{percentage item.InstallProgress}}" style="height: 17px;">
							   <div title="{{percentage item.InstallProgress}}" class="progress-bar progress-bar-success" role="progressbar" 
							      aria-valuemin="0" aria-valuemax="100" 
							      style="width: {{percentage item.InstallProgress}};">
							      <span class="sr-only">{{percentage item.InstallProgress}}</span>
							   </div>
							</div>
						</div>
						{{/link-to}}
						<div class="col-md-2">
						{{percentage item.InstallProgress}}
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>安装日志</label></td>
					<td>
						<div class="col-md-5">
							{{#link-to "dashboard.log.detail" item.ID "install"}}查看{{/link-to}}
						</div>
					</td>
				</tr>

				-->



				<tr>
					<td class="active" align="right"><label>添加时间</label></td>
					<td>
						<div class="col-md-5">
							{{item.CreatedAt}}
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>最后更新时间</label></td>
					<td>
						<div class="col-md-5">
							{{item.UpdatedAt}}
						</div>
					</td>
				</tr>

			</tbody>
		</table>

		<div class="text-center">
			<!--
	        {{#link-to "dashboard.device.edit" item.ID}}<button type="button" class="btn btn-default">修改设备信息</button>{{/link-to}}
			-->
	
			<button type="button" class="btn btn-default" onclick="javascript:history.go(-1);">返回</button>
		</div>

    </div>
</div>