<div class="panel panel-default">
    <div class="panel-body">
	   	<ul class="nav nav-tabs nav-tabs-bare">
			<li class="active"><a>装机统计报表</a></li>
		</ul>
		<br>
        <table class="table table-bordered">
			<tbody>
				<tr>
					<td class="active" align="right" width="20%"><label>累计安装</label></td>
					<td width="80%">
						<div class="col-md-5">{{report.Count}} 台/次</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right" width="20%"><label>设备厂商</label></td>
					<td width="80%">
						<div class="col-md-8">
							<table class="table table-hover no-light-title">
			                    <thead>
				                    <tr>
				                      <th width="50%">厂商</th>
				                      <th width="50%">安装台/次</th>
				                    </tr>
			                    </thead>
			                    <tbody>
			                    	{{#each report.ProductReport as |item index|}}
									<tr>
										<td>{{item.ProductName}}</td>
										<td>{{item.Count}}</td>
									</tr>
									{{/each}}
			                    </tbody>
		                    </table>
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right" width="20%"><label>操作系统</label></td>
					<td width="80%">
						<div class="col-md-8">
							<table class="table table-hover no-light-title">
			                    <thead>
				                    <tr>
				                      <th width="50%">操作系统</th>
				                      <th width="50%">安装台/次</th>
				                    </tr>
			                    </thead>
			                    <tbody>
									{{#each report.OsReport as |item index|}}
									<tr>
										<td>{{item.OsName}}</td>
										<td>{{item.Count}}</td>
									</tr>
									{{/each}}
			                    </tbody>
		                    </table>
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right" width="20%"><label>硬件配置模板</label></td>
					<td width="80%">
						<div class="col-md-8">
							<table class="table table-hover no-light-title">
			                    <thead>
				                    <tr>
				                      <th width="50%">硬件配置模板</th>
				                      <th width="50%">安装台/次</th>
				                    </tr>
			                    </thead>
			                    <tbody>
			                    	{{#each report.HardwareReport as |item index|}}
									<tr>
										<td>{{item.HardwareName}}</td>
										<td>{{item.Count}}</td>
									</tr>
									{{/each}}
			                    </tbody>
		                    </table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="text-center">
			<input id="btnCopy" class="btn btn-primary" type="button" data-clipboard-text="{{strReport}}" value="复制到剪贴板">
			&nbsp;&nbsp;
			<button {{action "reportAction"}} type="button" class="btn btn-primary">分享给CloudBoot开发组</button> &nbsp;&nbsp;

			<button type="button" class="btn btn-default" onclick="javascript:history.go(-1);">返回</button>
		</div>

    </div>
</div>

<script type="text/javascript">
	ZeroClipboard.config( { swfPath: '/clipboard/ZeroClipboard.swf' } );
	var clip = new ZeroClipboard( document.getElementById("btnCopy") );
	clip.on( "aftercopy", function( event ) {
	    alert("复制成功，请粘贴分享给CloudBoot开发组!");
  	});
</script>