<div class="panel panel-default">
	<div class="panel-body">
		{{!-- Searchbox --}}
		<div style="margin-bottom: 10px;">
			{{#common/io-form-validator submitForm="searchAction"}}
			<form class="form-horizontal">
				<table class="table no-border">
					<tbody>
						<tr>
							<td width="15%" align="right">搜索</td>
							<td width="85%">
								<div class="block">
									<div class="col-sm-6">
										{{textarea
										placeholder="可输入批次号、SN、主机名、IP等进行查询多条信息间可通过换行、逗号、分号分隔"
										value=form.Keyword
										rows="4"
										class="form-control input-md"
										}}
									</div>
									<div class="col-sm-6">
										<button type="submit" class="btn btn-primary">搜 索</button>
										&nbsp;&nbsp;
										{{input type="checkbox" checked=autoRefresh}}自动刷新
										{{#if (eq false isShowMultiSearchBlock)}}
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a {{action "showMultiSearchBlockAction"}}
											href="javascript::void(0);">展开更多条件</a>
										{{/if}}
									</div>
								</div>
							</td>
						</tr>

						{{#if isShowMultiSearchBlock}}
						<tr>
							<td width="15%" align="right">操作系统</td>
							<td width="85%">
								<div class="col-sm-5">
									{{view "select"
									class="form-control"
									prompt="请选择操作系统"
									content=model.osConfigData
									value=form.OsID
									optionValuePath="content.ID"
									optionLabelPath="content.Name"
									}}
								</div>
							</td>
						</tr>

						<tr>
							<td width="15%" align="right">硬件配置模板</td>
							<td width="85%">
								<div class="col-sm-5">
									{{view "select"
									class="form-control"
									prompt="请选择硬件配置模板"
									content=model.hardwareData
									value=form.HardwareID
									optionValuePath="content.ID"
									optionLabelPath="content.ModelName"
									}}
								</div>
							</td>
						</tr>

						<tr>
							<td width="15%" align="right">系统安装模板</td>
							<td width="85%">
								<div class="col-sm-5">
									{{view "select"
									class="form-control"
									prompt="请选择系统安装模板"
									content=model.systemConfigData
									value=form.SystemID
									optionValuePath="content.ID"
									optionLabelPath="content.Name" }}
								</div>
								{{#if (not-eq "all" model.status)}}
								{{#if (eq true isShowMultiSearchBlock)}}
								<div class="col-sm-2">
									<a {{action "hideMultiSearchBlockAction"}} href="javascript::void(0);">收起</a>
								</div>
								{{/if}}
								{{/if}}
							</td>
						</tr>

						{{#if (eq "all" model.status)}}
						<tr>
							<td width="15%" align="right">状态</td>
							<td width="85%">
								<div class="col-sm-5">
									{{view "select"
									class="form-control"
									prompt="请选择状态"
									content=model.statusData
									value=form.Status
									optionValuePath="content.ID"
									optionLabelPath="content.Name"
									}}
								</div>
								{{#if (eq true isShowMultiSearchBlock)}}
								<div class="col-sm-2">
									<a {{action "hideMultiSearchBlockAction"}} href="javascript::void(0);">收起</a>
								</div>
								{{/if}}
							</td>
						</tr>
						{{/if}}
						{{/if}}
					</tbody>
				</table>
			</form>
			{{/common/io-form-validator}}
		</div>

		{{!-- Control Buttons --}}
		<div class="row" style="padding-bottom:8px;">
			<div class="col-sm-8">

			</div>
		</div>

		{{!-- Table Content --}}
		<table class="table big table-hover">
			<thead>
				<tr>
					<th>
						{{input type="checkbox" checked=selectAll}}
					</th>
					<th>SN</th>
					<th>主机名</th>
					{{!-- <th>批次号</th> --}}
					<th>应用IP</th>
					<th>BootOS IP</th>
					<th>带外IP</th>
					<th>PXE模板</th>
					<th>硬件模板</th>
					<th>系统模板</th>
					<th width="8%">状态</th>
					{{#if isShowInstallInfoCol}}
					<th width="8%">安装进度</th>
					<th>安装日志</th>
					{{/if}}
					{{#if (eq "all" model.status)}}
					<th>管理人</th>
					{{/if}}
				</tr>
			</thead>
			<tbody>
				{{#each rowList as |item index|}}
				<tr>
					<td>{{input type="checkbox" checked=item.checked}}</td>
					<td>{{#link-to "dashboard.device.detail" item.ID}}{{item.Sn}}{{/link-to}}</td>
					<td>{{#link-to "dashboard.device.detail" item.ID}}{{item.Hostname}}{{/link-to}}</td>
					{{!-- <td><a href="javascript:void(0);" {{action "searchBatchNumberAction" item.BatchNumber}}>{{item.BatchNumber}}</a></td>
					--}}
					<td>{{#link-to "dashboard.network.detail" item.NetworkID}}{{item.Ip}}{{/link-to}}</td>
					<td>
						{{#if (eq "installing" item.Status)}}
						{{#if (lte 0 item.InstallProgress)}}
						{{#if (gt 0.6 item.InstallProgress)}}
						{{item.BootosIp}}
						{{/if}}
						{{/if}}
						{{/if}}

						{{#if (eq "pre_install" item.Status)}}
						{{#if (lte 0 item.InstallProgress)}}
						{{#if (gt 0.6 item.InstallProgress)}}
						{{item.BootosIp}}
						{{/if}}
						{{/if}}
						{{/if}}
					</td>
					<td>{{item.OobIp}}</td>
					<td>{{#link-to "dashboard.os.detail" item.OsID}}{{item.OsName}}{{/link-to}}</td>
					<td>{{#link-to "dashboard.hardware.detail" item.HardwareID}}{{item.HardwareName}}{{/link-to}}</td>
					<td>{{#link-to "dashboard.systemTpl.detail" item.SystemID}}{{item.SystemName}}{{/link-to}}</td>
					<td>
						{{#link-to "dashboard.log.detail" item.ID "install"}}
						{{#if (eq "pre_install" item.Status)}}
						<span class="text-muted">等待安装</span>
						{{/if}}

						{{#if (eq "installing" item.Status)}}
						<span class="text-info">正在安装</span>
						{{/if}}

						{{#if (eq "success" item.Status)}}
						<span class="text-success">安装成功</span>
						{{/if}}

						{{#if (eq "failure" item.Status)}}
						<span class="text-danger">安装失败</span>
						{{/if}}
						{{/link-to}}
					</td>
					{{#if isShowInstallInfoCol}}
					<td>
						{{#link-to "dashboard.log.detail" item.ID "install"}}
						<div class="progress progress-striped active" title="{{item.InstallLog}}" style="height: 17px;">
							<div title="{{item.InstallLog}}" class="progress-bar progress-bar-success"
								role="progressbar" aria-valuemin="0" aria-valuemax="100"
								style="width: {{percentage item.InstallProgress}};">
								<span class="sr-only">{{item.InstallLog}}</span>
							</div>
						</div>
						{{/link-to}}


					</td>
					<td>{{#link-to "dashboard.log.detail" item.ID "install"}}详情{{/link-to}}</td>
					{{/if}}
					<!--
						<td>
							{{#if (eq "success" item.Status)}}
							{{#link-to "dashboard.vm.list" item.ID}}管理{{/link-to}}
							{{/if}}
						</td>
						-->
					{{#if (eq "all" model.status)}}
					<td>{{item.OwnerName}}</td>
					{{/if}}
				</tr>
				{{/each}}
			</tbody>
		</table>
		<div class="row padding0">
			<div class="col-sm-9">
				<button {{action "batchDeleteAction"}} type="button" class="btn btn-danger btn-sm">删除</button>
				&nbsp;&nbsp;
				<button {{action "reInstallAction"}} type="button" class="btn btn-default btn-sm">重新安装</button>
				&nbsp;&nbsp;
				<button {{action "cancelInstallAction"}} type="button" class="btn btn-default btn-sm">取消安装</button>
				&nbsp;&nbsp;

				<button {{action "toggleModalIpmi" "batchPowerOnAction"}} disabled={{model.isButtonLock}}
					title="{{model.buttonLockNoticeInfo}}" type="button" class="btn btn-default btn-sm">
					开机
				</button> &nbsp;&nbsp;

				<button {{action "toggleModalIpmi" "batchStartFromPxeAction"}} disabled={{model.isButtonLock}}
					title="{{model.buttonLockNoticeInfo}}" type="button" class="btn btn-default btn-sm">
					从PXE启动
				</button> &nbsp;&nbsp;

				<button {{action "toggleModalIpmi" "batchPowerOffAction"}} disabled={{model.isButtonLock}}
					title="{{model.buttonLockNoticeInfo}}" type="button" class="btn btn-default btn-sm">
					关机
				</button> &nbsp;&nbsp;

				<button {{action "toggleModalIpmi" "batchReStartAction"}} disabled={{model.isButtonLock}}
					title="{{model.buttonLockNoticeInfo}}" type="button" class="btn btn-default btn-sm">
					重启
				</button> &nbsp;&nbsp;
				<button {{action "toggleModalScript"}} disabled={{model.isButtonLock}}
					title="{{model.buttonLockNoticeInfo}}" type="button" class="btn btn-default btn-sm">
					脚本执行
				</button> &nbsp;&nbsp;
				<button {{action "toggleModalFile"}} disabled={{model.isButtonLock}}
					title="{{model.buttonLockNoticeInfo}}" type="button" class="btn btn-default btn-sm">
					文件下发
				</button> &nbsp;&nbsp;
			</div>
			<div class="col-md-3">
				<div class="pull-right">
					<button {{action "exportAction"}} type="button" class="btn btn-default btn-sm">导出</button>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="text-center">
			<div class="row">
				总台数 <b>{{recordCount}}</b> 台 &nbsp;&nbsp;&nbsp;&nbsp;
				选中 <b>{{model.selectCount}}</b> 台 &nbsp;&nbsp;&nbsp;&nbsp;
				总页数 <b>{{pageCount}}</b> 页 &nbsp;&nbsp;&nbsp;&nbsp;
				{{#common/io-pagination count=pageCount current=page pageSize=pageSize change='pageChanged'
				pageSizeChange="pageSizeChanged"}}{{/common/io-pagination}}
			</div>

		</div>
	</div>
	<div class="row" style="margin-left:15px;">
		{{#if model.NoDataKeywordMessage}}
		这些关键字没有匹配到设备：{{model.NoDataKeywordMessage}}
		{{/if}}
	</div>
</div>

{{#common/io-modal show=model.isShowModalIpmi close="closeToggleModalIpmi"}}
{{#common/io-form-validator submitForm=model.ipmi.ActionName}}
<form class="form-horizontal">
	<div class="modal fade" data-backdrop="static">
		<div class="modal-dialog" style="width:600px;height:600px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" {{action "closeToggleModalIpmi"}}>×</button>
					<h4 class="modal-title">
						{{translate "app.route.deviceList.ipmiModal.title"}}
					</h4>
				</div>
				<div style="margin-left: 13px; margin-top: 10px; margin-bottom: 10px; height: 380px;">
					{{#if model.ipmi.Sn}}
					<div class="row" style="padding-top: 10px;">
						<div class="col-sm-2"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">SN：</div>
						</div>
						<div class="col-sm-4">
							{{model.ipmi.Sn}}
						</div>
					</div>
					{{/if}}
					{{#if model.ipmi.Hostname}}
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-2"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">{{translate "app.route.deviceList.th.hostName"}}：</div>
						</div>
						<div class="col-sm-4">
							{{model.ipmi.Hostname}}
						</div>
					</div>
					{{/if}}
					{{#if model.ipmi.DeviceIp}}
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-2"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">{{translate "app.route.deviceList.th.AppIp"}}：</div>
						</div>
						<div class="col-sm-4">
							{{model.ipmi.DeviceIp}}
						</div>
					</div>
					{{/if}}
					{{#if model.ipmi.OobIp}}
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-2"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">OOB IP：</div>
						</div>
						<div class="col-sm-4">
							{{model.ipmi.OobIp}}
						</div>
					</div>
					{{/if}}
					<div class="row" style="padding-top: 30px;">
						<div class="col-sm-2"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">{{translate "username"}}：</div>
						</div>
						<div class="col-sm-4">
							{{input required=true value=model.ipmi.User type="text" class="form-control input-md"}}
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-2"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">{{translate "password"}}：</div>
						</div>
						<div class="col-sm-4">
							{{input type="password" value=model.ipmi.Password required=true class="form-control input-md"}}
						</div>
					</div>
					<div class="row" style="padding-top: 30px;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary">
								{{#if (eq "batchPowerOnAction" model.ipmi.ActionName)}}
								{{translate "powerOn"}}
								{{else if (eq "batchPowerOffAction" model.ipmi.ActionName)}}
								{{translate "powerOff"}}
								{{else if (eq "batchReStartAction" model.ipmi.ActionName)}}
								{{translate "reboot"}}
								{{else if (eq "batchStartFromPxeAction" model.ipmi.ActionName)}}
								{{translate "app.route.deviceList.bootFromPxe"}}
								{{/if}}
							</button>
							&nbsp;&nbsp;
							<a class="btn btn-default" {{action "closeToggleModalIpmi"}} data-dismiss="modal">
								{{translate "cancel"}}
							</a>
						</div>
					</div>
					{{#if model.ipmi.Message}}
					<div class="row" style="padding-top: 15px;">
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							{{html-safe model.ipmi.Message}}
						</div>
					</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</form>
{{/common/io-form-validator}}
{{/common/io-modal}}

{{#common/io-modal show=model.scriptModal close="toggleModalScript"}}
{{#common/io-form-validator submitForm="scriptTaskAction"}}
<form class="form-horizontal">
	<div class="modal fade" data-backdrop="static">
		<div class="modal-dialog" style="width:800px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" {{action "toggleModalScript"}}>×</button>
					<h4 class="modal-title">
						{{translate "app.route.deviceList.scriptModal.title"}}
					</h4>
				</div>
				<div class="modal-body" style="max-height:70rem">
					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">作业名称：</label></div>
						</div>
						<div class="col-sm-6">
							{{input required=true value=model.task.TaskName type="text" required=true class="form-control input-md"}}
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">执行通道：</label></div>
						</div>
						<div class="col-sm-6">
							{{common/io-select class="form-control" prompt="请选择执行通道"
							content= model.dictTaskChannel required=true
							value=model.task.TaskChannel optionValuePath="content.id"
							optionLabelPath="content.name" }}
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">执行用户：</label></div>
						</div>
						<div class="col-sm-6">
							{{input required=true value=model.task.Runas type="text" class="form-control input-md"}}
						</div>
					</div>

					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">超时时间：</label></div>
						</div>
						<div class="col-sm-6">
							{{input required=true value=model.task.Timeout type="number" class="form-control input-md"}}
						</div>
					</div>
					<div class="row" style="padding-top: 30px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">设备列表：</div>
						</div>
						<div class="col-sm-8">
							<table class="table big table-hover">
								<thead>
									<tr>
										<th>SN</th>
										<th>主机名</th>
										<th>应用IP</th>
										{{#if (eq "all" model.status)}}
										<th>管理人</th>
										{{/if}}
									</tr>
								</thead>
								<tbody>
									{{#each model.selectedDevices as |item index|}}
									<tr>
										<td>{{item.Sn}}</td>
										<td>{{item.Hostname}}</td>
										<td>{{item.Ip}}</td>
										{{#if (eq "all" model.status)}}
										<td>{{item.OwnerName}}</td>
										{{/if}}
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">密码：</label></div>
						</div>
						<div class="col-sm-6">
							{{input required=true value=model.task.Password type="password" class="form-control input-md"}}
						</div>
					</div>
					{{!-- <div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">脚本类型：</div>
						</div>
						<div class="col-sm-6">
							{{common/io-radio required=true name=(str-concat index index2) value=model.task.ScriptType
							checked=item2.default}}
						</div>
					</div> --}}
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">脚本内容：</label></div>
						</div>
						<div class="col-sm-4 col-upload">
							{{#common/io-file-upload upload="uploadScript" autoUpload=true showUploadButton=false
							multiple=false}}{{/common/io-file-upload}}
							{{textarea value=model.task.Script required=true class="form-control input-md" rows="10"}}
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">脚本参数：</div>
						</div>
						<div class="col-sm-4 col-upload">
							{{textarea value=model.task.ScriptParam class="form-control input-md" }}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">执行</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"
						{{action "toggleModalScript"}}>取消</button>
				</div>
			</div>
		</div>
	</div>
</form>
{{/common/io-form-validator}}
{{/common/io-modal}}



{{#common/io-modal show=model.fileModal close="toggleModalFile"}}
{{#common/io-form-validator submitForm="fileTaskAction"}}
<form class="form-horizontal">
	<div class="modal fade" data-backdrop="static">
		<div class="modal-dialog" style="width:800px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" {{action "toggleModalFile"}}>×</button>
					<h4 class="modal-title">
						{{translate "app.route.deviceList.fileModal.title"}}
					</h4>
				</div>
				<div class="modal-body" style="max-height:70rem">
					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">作业名称：</label></div>
						</div>
						<div class="col-sm-6">
							{{input required=true value=model.task.TaskName required=true type="text" class="form-control input-md"}}
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">执行通道：</label></div>
						</div>
						<div class="col-sm-6">
							{{common/io-select class="form-control" prompt="请选择执行通道"
												content= model.dictTaskChannel required=true
												value=model.task.TaskChannel optionValuePath="content.id"
												optionLabelPath="content.name" }}
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">执行用户：</label></div>
						</div>
						<div class="col-sm-6">
							{{input required=true value=model.task.Runas type="text" class="form-control input-md"}}
						</div>
					</div>

					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">超时时间：</label></div>
						</div>
						<div class="col-sm-6">
							{{input required=true value=model.task.Timeout type="number" class="form-control input-md"}}
						</div>
					</div>
					<div class="row" style="padding-top: 30px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">设备列表：</div>
						</div>
						<div class="col-sm-8">
							<table class="table big table-hover">
								<thead>
									<tr>
										<th>SN</th>
										<th>主机名</th>
										<th>应用IP</th>
										{{#if (eq "all" model.status)}}
										<th>管理人</th>
										{{/if}}
									</tr>
								</thead>
								<tbody>
									{{#each model.selectedDevices as |item index|}}
									<tr>
										<td>{{item.Sn}}</td>
										<td>{{item.Hostname}}</td>
										<td>{{item.Ip}}</td>
										{{#if (eq "all" model.status)}}
										<td>{{item.OwnerName}}</td>
										{{/if}}
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right"><label class="required">密码：</label></div>
						</div>
						<div class="col-sm-6">
							{{input required=true value=model.task.Password type="password" class="form-control input-md"}}
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">目标路径：</div>
						</div>
						<div class="col-sm-6">
							{{input type="text" value=model.task.DestFile required=true class="form-control input-md"}}
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-1"></div>
						<div class="col-sm-2" style="padding:0;">
							<div class="pull-right">源文件：</div>
						</div>
						<div class="col-sm-4 col-upload">
							{{#common/io-file-upload upload="uploadFile" autoUpload=true showUploadButton=false
							multiple=false}}{{/common/io-file-upload}}
							{{input type="text" disabled=true value=model.task.SrcFile class="form-control input-md"}}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">下发</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"
						{{action "toggleModalFile"}}>取消</button>
				</div>
			</div>
		</div>
	</div>
</form>
{{/common/io-form-validator}}
{{/common/io-modal}}