<div class="panel panel-default">
    <div class="panel-body">
	    <ul class="nav nav-tabs nav-tabs-bare">
			<li>{{#link-to "dashboard.device.detail" item.DeviceID}}查看设备信息{{/link-to}}</li>
		    <li class="active">{{#link-to "dashboard.device.manufacturer" item.ID}}查看硬件信息{{/link-to}}</li>
		</ul>
		<br>
        <table class="table table-bordered">
			<tbody>
				<tr>
					<td class="active" align="right" width="20%"><label>SN</label></td>
					<td width="80%">
						<div class="col-md-5">{{item.Sn}}</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right" width="20%"><label>厂商</label></td>
					<td width="80%">
						<div class="col-md-5">{{item.Company}}</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>产品型号</label></td>
					<td>
						<div class="col-md-5">{{item.Product}} {{item.ModelName}}</div>
					</td>
				</tr>

				
				<tr>
					<td class="active" align="right"><label>BootOS IP</label></td>
					<td>
						<div class="col-md-5">
							{{#if (eq "installing" device.Status)}}
								{{#if (lte 0 device.InstallProgress)}}
									{{#if (gt 0.6 device.InstallProgress)}}
										{{item.Ip}}
									{{/if}}
								{{/if}}
							{{/if}}
							
							{{#if (eq "pre_install" device.Status)}}
								{{#if (lte 0 device.InstallProgress)}}
									{{#if (gt 0.6 device.InstallProgress)}}
										{{item.Ip}}
									{{/if}}
								{{/if}}
							{{/if}}
							 (临时IP，仅在进入BootOS时有效)
						</div>
					</td>
				</tr>
				
				<!--
				<tr>
					<td class="active" align="right"><label>Mac</label></td>
					<td>
						<div class="col-md-5">
							{{item.Mac}}
						</div>
					</td>
				</tr>
				-->

				<tr>
					<td class="active" align="right"><label>网卡信息</label></td>
					<td>
						<div class="col-md-8">
							{{#if item.NicFormat}}
								<table class="table table-hover no-light-title">
						        	<thead>
							       		<tr>
							            	<th width="30%">名称</th>
							                <th width="40%">Mac地址</th>
							                <th width="30%">IP</th>
							            </tr>
						            </thead>
						            <tbody>
									{{#each item.NicFormat as |item index|}}
										<tr>
											<td>{{item.Name}}</td>
											<td>{{item.Mac}}</td>
											<td>{{item.Ip}}</td>
										</tr>
									{{/each}}
						            </tbody>
					            </table>
							{{/if}}
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>网卡硬件信息</label></td>
					<td>
						<div class="col-md-12">
							{{html-safe item.NicDevice}}
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>CPU</label></td>
					<td>
						<div class="col-md-8">
							{{#if item.CpuFormat}}
								<table class="table table-hover no-light-title">
						        	<thead>
							       		<tr>
							            	<th width="60%">型号</th>
							                <th width="40%">核数</th>
							            </tr>
						            </thead>
						            <tbody>
										<tr>
											<td>{{item.CpuFormat.Model}}</td>
											<td>{{item.CpuFormat.Core}}核</td>
										</tr>
						            </tbody>
					            </table>
							{{/if}}
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>内存</label></td>
					<td>
						<div class="col-md-8">
							{{#if item.MemoryFormat}}
								<table class="table table-hover no-light-title">
						        	<thead>
							       		<tr>
							            	<th width="40%">内存卡</th>
							                <th width="60%">容量</th>
							            </tr>
						            </thead>
						            <tbody>
									{{#each item.MemoryFormat as |item index|}}
										<tr>
											<td>
												{{#if (eq "" item.Name)}}
													内存{{int-add index 1}}
												{{/if}}

												{{#if (not-eq "" item.Name)}}
													{{item.Name}}
												{{/if}}
											</td>
											<td>{{item.Size}}</td>
										</tr>
									{{/each}}
									{{#if item.MemorySum}}
										<tr>
											<td>总计：</td>
											<td>{{item.MemorySum}} MB</td>
										</tr>
									{{/if}}
						            </tbody>
					            </table>
							{{/if}}
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>磁盘</label></td>
					<td>
						<div class="col-md-8">
							{{#if item.DiskFormat}}
								<table class="table table-hover no-light-title">
						        	<thead>
							       		<tr>
							            	<th width="40%">磁盘块</th>
							                <th width="60%">容量</th>
							            </tr>
						            </thead>
						            <tbody>
									{{#each item.DiskFormat as |item index|}}
										<tr>
											<td>
												{{#if (eq "" item.Name)}}
													磁盘{{int-add index 1}}
												{{/if}}

												{{#if (not-eq "" item.Name)}}
													{{item.Name}}
												{{/if}}
											</td>
											<td>{{item.Size}}</td>
										</tr>
									{{/each}}
									{{#if item.DiskSum}}
										<tr>
											<td>总计：</td>
											<td>{{item.DiskSum}} GB</td>
										</tr>
									{{/if}}
						            </tbody>
					            </table>
							{{/if}}
						</div>
					</td>
				</tr>

				{{#if item.MotherboardFormat.Name}}
				<tr>
					<td class="active" align="right"><label>主板</label></td>
					<td>
						<div class="col-md-8">
							{{#if item.MotherboardFormat.Name}}
								<table class="table table-hover no-light-title">
						        	<thead>
							       		<tr>
							            	<th width="40%">名称</th>
							                <th width="60%">型号</th>
							            </tr>
						            </thead>
						            <tbody>
										<tr>
											<td>{{item.MotherboardFormat.Name}}</td>
											<td>{{item.MotherboardFormat.Model}}</td>
										</tr>
						            </tbody>
					            </table>
							{{/if}}
						</div>
					</td>
				</tr>
				{{/if}}

				<tr>
					<td class="active" align="right"><label>Raid</label></td>
					<td>
						<div class="col-md-12">
							{{html-safe item.Raid}}
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>OOB</label></td>
					<td>
						<div class="col-md-10">
							{{item.Oob}}
						</div>
					</td>
				</tr>

				<tr>
					<td class="active" align="right"><label>设备类型</label></td>
					<td>
						<div class="col-md-10">
							{{#if (not-eq "Yes" item.IsVm)}}
								物理机
							{{/if}}

							{{#if (eq "Yes" item.IsVm)}}
								虚拟机
							{{/if}}
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="text-center">
			<button type="button" class="btn btn-default" onclick="javascript:history.go(-1);">返回</button>
		</div>

    </div>
</div>