<div class="panel panel-default">
    <div class="panel-body">
        {{!-- Searchbox --}}
        {{!-- <div style="margin-bottom: 10px;">
            {{#common/io-form-validator submitForm="searchAction"}}
            <form class="form-horizontal">
                <table class="table no-border">
                    <tbody>
                        <tr>
                            <td width="15%" align="right">搜索</td>
                            <td width="85%">
                                <div class="block">
                                    <div class="col-sm-6">
                                        {{textarea
                                        placeholder="输入查询条件"
                                        value=form.Keyword
                                        rows="4"
                                        class="form-control input-md"
                                        }}
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary">搜 索</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            {{/common/io-form-validator}}
        </div> --}}

        {{!-- Table Content --}}
        <div class="row">
            <div class="col-sm-7">
                <table class="table big table-hover">
                    <thead>
                        <tr>
                            <th>
                                {{input type="checkbox" checked=selectAll}}
                            </th>
                            <th>序列号</th>
                            <th>主机名</th>
                            <th>应用IP</th>
                            <th>开始时间</th>
                            <th>执行耗时</th>
                            <th>执行状态</th>
                            <th>执行结果</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each model.results.list as |item index|}}
                        <tr>
                            <td>{{input type="checkbox" checked=item.checked}}</td>
                            <td>{{item.SN}}</td>
                            <td>{{item.HostName}}</td>
                            <td>{{item.IP}}</td>
                            <td>{{format-date item.StartTime "YYYY-MM-DD hh:mm:ss"}}</td>
                            <td>{{item.TotalTime}}</td>
                            <td>
                                {{#if (eq "success" item.Status)}}
                                成功
                                {{else if (eq "timeout" item.Status)}}
                                超时
                                {{else if (eq "failure" item.Status)}}
                                失败
                                {{else}}
                                执行中
                                {{/if}}
                            </td>
                            <td>
                                <button  class="btn btn-info" {{action "viewResult" item }}>查看结果</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <label for="">执行结果</label>
                </div>
                <div class="row stdout">
                    {{textarea value=model.taskResults readonly='readonly' rows=10 cols=70}}
                </div>

            </div>
        </div>


    </div>
    {{!-- <div>
        <div class="text-center">
            <div class="row">
                共有 <b>{{model.infos.recordCount}}</b> &nbsp;&nbsp;&nbsp;&nbsp;
                选中 <b>{{model.selectCount}}</b> 台 &nbsp;&nbsp;&nbsp;&nbsp;
                总页数 <b>{{pageCount}}</b> 页 &nbsp;&nbsp;&nbsp;&nbsp;
                {{#common/io-pagination count=pageCount current=page pageSize=pageSize change='pageChanged'
                pageSizeChange="pageSizeChanged"}}{{/common/io-pagination}}
            </div>
        </div>
    </div> --}}
</div>