<div class="panel panel-default">
    <div class="panel-body">
        {{!-- Table Content --}}
        <div class="row">
            <div class="col-sm-7">
                <table class="table big table-hover">
                    <thead>
                        <tr>
                            <th>
                                {{input type="checkbox" checked=selectAll}}
                            </th>
                            <th>序列号</th>
                            <th>主机名</th>
                            <th>应用IP</th>
                            <th>开始时间</th>
                            <th>执行耗时</th>
                            <th>执行状态</th>
                            <th>执行结果</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each model.results.list as |item index|}}
                        <tr>
                            <td>{{input type="checkbox" checked=item.checked}}</td>
                            <td>{{item.SN}}</td>
                            <td>{{item.HostName}}</td>
                            <td>{{item.IP}}</td>
                            <td>{{format-date item.StartTime "YYYY-MM-DD hh:mm:ss"}}</td>
                            <td>{{item.TotalTime}}</td>
                            <td>
                                {{#if (eq "success" item.Status)}}
                                成功
                                {{else if (eq "timeout" item.Status)}}
                                超时
                                {{else if (eq "failure" item.Status)}}
                                失败
                                {{else}}
                                执行中
                                {{/if}}
                            </td>
                            <td>
                                <button  class="btn btn-info" {{action "viewResult" item }}>查看结果</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <label for="">执行结果</label>
                </div>
                <div class="row stdout">
                    {{textarea value=model.taskResults readonly='readonly' rows=10 cols=70}}
                </div>

            </div>
        </div>
    </div>
</div>