<div class="panel panel-default">
	
    <ul class="nav nav-tabs"> 
		<li>{{#link-to "dashboard.device.new"}}单个录入{{/link-to}}</li> 
	    <li class="active">{{#link-to "dashboard.device.import"}}批量录入{{/link-to}}</li>
	</ul>

    <div class="panel-body">
        <table class="table big">
            <thead>
                <tr>
                    <th width="8%">SN</th>
					<th width="12%">主机名</th>
					<th width="10%">应用IP</th>
					<th width="10%">掩码</th>
					<th width="10%">网关</th>
					<th width="10%">操作系统</th>
					<th width="12%">硬件配置模板</th>
					<th width="10%">系统模板</th>
					{{#if (eq "failure" status)}}
					<th width="14%">错误提示</th>
					{{/if}}
                </tr>
            </thead>
            <tbody>
            	{{#each rowList as |item index|}}
                <tr>
                	<td>{{item.Sn}}</td>
					<td>{{item.Hostname}}</td>
					<td>{{item.Ip}}</td>
					<td>{{item.Netmask}}</td>
					<td>{{item.Gateway}}</td>
					<td>{{item.OsName}}</td>
					<td>{{item.HardwareName}}</td>
					<td>{{item.SystemName}}</td>
					{{#if (eq "failure" status)}}
					<td class="text-danger">{{html-safe item.Content}}</td>
					{{/if}}
				</tr>
				{{/each}}
            </tbody>
        </table>
	
				<div class="row padding0">
					<div class="col-sm-6">
						{{#if (eq "success" status)}}
					    	<button type="button" {{action "importAction"}} class="btn btn-primary btn-sm">确认提交</button>
				       	{{/if}}

				       	&nbsp;&nbsp;
				       	{{#link-to "dashboard.device.import"}}
				       		<button type="button" class="btn btn-primary btn-sm">重新导入</button>
				       	{{/link-to}}
					</div>
					<div class="col-sm-6">
						{{#common/io-pagination count=pageCount current=page change='pageChanged' pageSizeChange="pageSizeChanged"}}{{/common/io-pagination}}
					</div>
				</div>
    </div>
</div>