<div class="panel panel-default">
    {{!-- <div class="panel-heading">
        <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
        	<li>硬件配置管理</li>
            <li class="active">编辑硬件配置</li>
        </ol>
    </div> --}}
    {{#common/io-form-validator submitForm="saveAction"}}
	<form class="form-horizontal">
    <div class="panel-body">
        <table class="table no-border">
			<tbody>
				<tr>
					<td align="right"><label class="required">服务器厂商</label></td>
					<td>
						<div class="col-md-5">
							{{view "select" class="form-control" prompt="请选择厂商"
			 content=model.companyData required=true value=model.info.Company optionValuePath="content.name" optionLabelPath="content.name" }}
						</div>
					</td>
				</tr>
				
				<!--
				<tr>
					<td align="right"><label class="required">产品名称</label></td>
					<td>
						<div class="col-md-5">
							{{input required=true type="text" value=model.info.Product class="form-control input-md"}}
						</div>
					</td>
				</tr>
				-->

				<tr>
					<td align="right"><label class="required">产品型号</label></td>
					<td>
						<div class="col-md-5">
							{{input required=true type="text" value=model.info.ModelName class="form-control input-md"}}
						</div>
					</td>
				</tr>
				
			
				{{#each model.info.FormatTpl as |item index|}}
				<tr>
					<td align="right"><label>{{item.name}}</label></td>
					<td colspan=3>
						<div class="block">
						<div class="col-md-11">
							<table class="table table-hover">
		                    <thead>
			                    <tr>
			                      <th width="30%">配置项</th>
			                      <th width="30%">选择</th>
			                      <th width="40%">配置信息</th>
			                    </tr>
		                    </thead>
		                    <tbody>
								{{#each item.data as |item2 index2|}}
								<tr>
									<td>
										{{item2.name}}
									</td>
									<td>
										{{#if (eq "select" item2.type)}}
										{{common/io-select class="form-control" prompt="请选择"
			 content=item2.data value=item2.default onChange="selectChangeAction" optionValuePath="content.value" optionLabelPath="content.name" }}
			 							{{/if}}

			 							{{#if (eq "input" item2.type)}}
										{{input placeholder="请填写" key-up="inputChangeAction" value=item2.input class="form-control input-md"}}
			 							{{/if}}
									</td>

									<td>
										{{#if (eq "select" item2.type)}}
											{{input placeholder="请填写" key-up="selectInputChangeAction" value=item2.value class="form-control input-md"}}
										{{/if}}

										{{#if (eq "input" item2.type)}}
											{{input placeholder="请填写" value=item2.default class="form-control input-md"}}
										{{/if}}

									</td>
								</tr>
								{{/each}}
		                    </tbody>
	                    </table>
						</div>
						{{#if model.isShowDeleteItemButton}}
	                	<div class="col-md-1">
	                		<button type="button" {{action "deleteItemAction" index}} class="btn btn-default btn-xs"><i class="fa fa-minus"></i></button>
	                	</div>
	                	{{/if}}
	                	</div>

					</td>
				</tr>
				{{/each}}
				
				
			</tbody>
		</table>
		<div class="text-center">
	        <button type="submit" class="btn btn-primary">提 交</button>
	        &nbsp;&nbsp;
	        {{#link-to "dashboard.hardware.list"}}<button type="button" class="btn btn-default">取　消</button>{{/link-to}}
		</div>
    </div>
    </form>
	{{/common/io-form-validator}}
</div>