<div class="panel panel-default">
	<div class="paddingtop10 paddingright15" style="float:right;">
		{{#link-to "dashboard.hardware.import"}}<button type="button" class="btn btn-primary btn-xs">导入硬件配置</button>{{/link-to}}
	</div>
	
	<!--
    <div class="panel-heading paddingtop0" style="display:none">
        <div class="breadcrumb paddingtop3 paddingleft0">
	        <div style="float: left;">
	        	<div class="panel-heading paddingleft0">
                    <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
                        <li>模板管理</li>
                        <li class="active">硬件配置模板管理</li>
                    </ol>
                </div>
	        </div>

	        <div style="float:right; position: relative; top: 7px; left: 16px;">
	        	{{#link-to "dashboard.hardware.import"}}<button type="button" class="btn btn-primary btn-xs">导入硬件配置</button>{{/link-to}}
	        </div>
        </div>
    </div>
    -->

    <div class="panel-body">
		{{#common/io-form-validator submitForm="searchAction"}}
		<form class="form-horizontal">
			{{#if (eq model.lastestVersion null)}}
				{{#if model.currentVersion.Version}}
					<div style="margin-bottom: 20px;text-align: center;font-size: 13px;">
						<span style="color: #FF0000">当前硬件配置库版本：{{model.currentVersion.Version}}({{model.currentVersion.Date}})
						{{#if model.isLastestVersion}}
							，已是最新版本
						{{/if}}
						{{#if model.versionMessage}}
							，{{model.versionMessage}}
						{{/if}}
						</span>
					</div>
				{{/if}}
			{{/if}}
			{{#if model.lastestVersion}}
			<div style="margin-bottom: 20px;text-align: center;font-size: 13px;">
				<span style="color: #FF0000">提示：有新版本的硬件配置库({{model.lastestVersion.Version}} {{model.lastestVersion.Date}})可更新。</span>
				<button {{action "onlineUpdateAction"}} type="button" class="btn btn-primary btn-xs">点击按钮在线更新</button>
				(注:只更新系统配置，用户自己添加的配置不会被修改)
			</div>
			{{/if}}

		<div style="margin-bottom: 10px;">
			<table class="table no-border">
			<tbody>
				<tr>
					<td width="15%" align="right">搜索</td>
					<td width="85%" colspan=3>

							<div class="col-md-3">
								{{view "select" class="form-control" prompt="--请选择厂商--"
			 content=model.companyData value=Company optionValuePath="content.Company" optionLabelPath="content.Company" }}
							</div>
							<!--
							<div class="col-md-3">
								{{view "select" class="form-control" prompt="--请选择产品名称--"
			 content=model.productData value=Product optionValuePath="content.Product" optionLabelPath="content.Product" }}
							</div>
							-->

							<div class="col-md-3">
								{{view "select" class="form-control" prompt="--请选择产品型号--"
			 content=model.modelNameData value=ModelName optionValuePath="content.ModelName" optionLabelPath="content.ModelName" }}
							</div>
						

						<div class="col-md-2">
							<button type="submit" class="btn btn-primary">搜 索</button>
							&nbsp;&nbsp;
						</div>
					</td>
				</tr>
			</tbody>
			</table>
		</div>
		</form>
		{{/common/io-form-validator}}

        <table class="table  big">
            <thead>
                <tr>
                	<th width="10%">ID</th>
                    <th width="30%">服务器厂商</th>
                    <!--<th>产品名称</th>-->
                    <th width="30%">产品型号</th>
                    <th width="30%">操作</th>
                </tr>
            </thead>
            <tbody>
            	{{#each rowList as |item index|}}
                <tr>
                	<td>{{#link-to "dashboard.hardware.detail" item.ID}}{{item.ID}}{{/link-to}}</td>
					<td>{{item.Company}}</td>
					<!--<td>{{item.Product}}</td>-->
					<td>{{item.ModelName}}</td>
					<td>
						{{#link-to "dashboard.hardware.new" item.ID}}<i title="克隆" class="io-fa icon-copy"></i>{{/link-to}}
						{{#if (eq "Yes" item.IsSystemAdd)}}
						&nbsp;&nbsp;
						<span class="text-danger">非用户添加的配置不允许修改删除</span>
						{{/if}}

						{{#if (eq "No" item.IsSystemAdd)}}
	                        &nbsp;&nbsp;
	                        {{#link-to "dashboard.hardware.edit" item.ID}}<i title="修改" class="io-fa icon-edit"></i>{{/link-to}}
	                        &nbsp;&nbsp;
	                        <a style="" href="javascript:void(0);" {{action "deleteAction" item.ID}}><i title="删除" class="io-fa icon-delete"></i></a>
                        {{/if}}

					</td>
				</tr>
				{{/each}}
            </tbody>
        </table>
        <div class="padding10">
        	{{#if (not-eq 1 pageCount)}}
            	{{#common/io-pagination count=pageCount current=page change='pageChanged'}}{{/common/io-pagination}}
            {{/if}}
        </div>
    </div>
</div>