{{#common/io-modal show=isShowingModal close="toggleModal"}}
<div class="modal fade modal-vs-install" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" {{action "toggleModal"}}>×</button>
				<h4 class="modal-title">虚拟机安装</h4>
			</div>
			<div class="block align-items-stretch content-body">
				 <div class="block content shrink steps-navigator">
				 	<ul>
				 		{{#if (eq 1 currentStep)}}
							<li class="active" {{action "goToStep" 1}}>填写主机列表</li>
				 		{{/if}}
				 		{{#if (not-eq 1 currentStep)}}
							<li class="disable" {{action "goToStep" 1}}>填写主机列表</li>
				 		{{/if}}

				 		{{#if (eq 2 currentStep)}}
							<li class="active" {{action "goToStep" 2}}>处理器</li>
				 		{{/if}}
				 		{{#if (not-eq 2 currentStep)}}
							<li class="disable" {{action "goToStep" 2}}>处理器</li>
				 		{{/if}}

				 		{{#if (eq 3 currentStep)}}
							<li class="active" {{action "goToStep" 3}}>内存</li>
				 		{{/if}}
				 		{{#if (not-eq 3 currentStep)}}
							<li class="disable" {{action "goToStep" 3}}>内存</li>
						{{/if}}

						{{#if (eq 4 currentStep)}}
							<li class="active" {{action "goToStep" 4}}>硬盘</li>
				 		{{/if}}
				 		{{#if (not-eq 4 currentStep)}}
							<li class="disable" {{action "goToStep" 4}}>硬盘</li>
						{{/if}}

						{{#if (eq 5 currentStep)}}
							<li class="active" {{action "goToStep" 5}}>网络</li>
				 		{{/if}}
				 		{{#if (not-eq 5 currentStep)}}
							<li class="disable" {{action "goToStep" 5}}>网络</li>
						{{/if}}
				 		
				 		{{#if (eq 6 currentStep)}}
							<li class="active" {{action "goToStep" 6}}>显示</li>
				 		{{/if}}
				 		{{#if (not-eq 6 currentStep)}}
							<li class="disable" {{action "goToStep" 6}}>显示</li>
						{{/if}}
				 	</ul>
				 </div>
				 <div class="block vertical" style="background: whitesmoke;">
					<div class="block content main-content">
						{{#if (eq currentStep 1)}}
						<h2>主机列表 <div class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></div></h2>
						<table class="table">
							<thead>
								<tr>
									<th width="20%">
										主机名 {{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"> <i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</th>
									<th width="19%">IP</th>
									<th width="23%">Mac地址</th>
									<th width="22%">操作系统</th>
									<th width="15%"></th>
								</tr>
							</thead>
							<tbody>
								{{#each model.vmInfo.Host as |item index|}}
								<tr>
									<td>
										<div class="form-group">
											{{input type="text" value=item.Hostname required=true class="form-control input-md" placeholder="主机名"}}
										</div>
									</td>
									<td>
										<div class="form-group">
											{{input type="text" value=item.Ip required=true class="form-control input-md" placeholder="IP"}}
										</div>
									</td>
									<td>
										<div class="form-group">
											{{input type="text" value=item.Mac required=true class="form-control input-md" placeholder="Mac地址"}}
										</div>
									</td>

									<td>
										<div class="form-group">
											{{view "select" class="form-control" prompt="请选择"
			 content=model.osData required=true value=item.Os optionValuePath="content.id" optionLabelPath="content.name"}}
										</div>
									</td>
									<td>
										<button style="margin-top: 5px;" {{action "copyHostAction" index}} type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i></button>
										{{#if (not-eq 0 index)}}
										<button style="margin-top: 5px;" type="button" {{action "cancelHostAction" index}} class="btn btn-default btn-xs"><i class="fa fa-minus"></i></button>
										{{/if}}
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
						{{/if}}

						{{#if (eq currentStep 2)}}
						<h2>处理器</h2>
						<!--
						<h3>cpus</h3>
						-->
						<div class="section">
							<!--
							<div class="form-group">
								<label for="">当前处理机总核数: 24</label>
							</div>
							-->
							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;margin-top:6px;">
										<label for="">分配CPU核数: </label>
									</div>
									<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
										{{input class="form-control" type="number" value=model.vmInfo.Cpu.CoresNumber}}
									</div>
									
									<div class="col-md-3" style="padding-left: 40px; padding-right: 0px; margin-top:6px;">
										{{input type="checkbox" checked=model.vmInfo.Cpu.isShowCpuMore}}
										<label for="">高级选项</label>
									</div>
								</div>
							</div>

							<!--
							<div class="form-group">
								<label for="">Maximum Allocation: </label>
								<input type="number" class="form-group" style="width: 80px" value="1"/>
							</div>
							-->
						</div>


						{{#if model.vmInfo.Cpu.isShowCpuMore}}
						<h3>拓扑结构</h3>
						<div class="section">
							<div class="form-group">
								{{input type="checkbox" checked=model.vmInfo.Cpu.isShowCpuTopBlock}} <label for="">手动设置</label>
								&nbsp;&nbsp;&nbsp;&nbsp;
								{{input type="checkbox" checked=model.vmInfo.Cpu.HotPlug class="form-group"}} <label for="">热插</label>
								
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
								&nbsp;&nbsp;&nbsp;&nbsp;
								{{input type="checkbox" checked=model.vmInfo.Cpu.Passthrough class="form-group"}} <label for="">passthrough</label>
								
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
							</div>
							
							<div class="form-group">
								{{#if model.vmInfo.Cpu.isShowCpuTopBlock}}
								<div class="block">
									<div class="col-md-1" style="padding-left: 0px;padding-right: 0px; margin-top:6px;">
										<label for="">插槽: </label>
									</div>
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
										{{input class="form-control" type="number" value=model.vmInfo.Cpu.TopSockets}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>
								
								<div class="block" style="margin-top: 10px;">
									<div class="col-md-1" style="padding-left: 0px;padding-right: 0px; margin-top:6px;">
										<label for="">核数: </label>
									</div>
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
										{{input class="form-control" type="number" value=model.vmInfo.Cpu.TopCores}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>


								<div class="block" style="margin-top: 10px;">
									<div class="col-md-1" style="padding-left: 0px;padding-right: 0px; margin-top:6px;">
										<label for="">线程: </label>
									</div>
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
										{{input class="form-control" type="number" value=model.vmInfo.Cpu.TopThreads}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>
								{{/if}}

								<!--
								<div class="block">
									{{input type="checkbox" class="form-group"}} <label for="">热插拔</label>
								</div>
								<div class="block">
									{{input type="checkbox" class="form-group"}} <label for="">passthrough</label>
								</div>
								-->
								<!--
								<div class="block">
									{{input type="checkbox" class="form-group"}} <label for="">热插拔</label>
								</div>
								-->
							</div>
						</div>
						<h3>CPU绑定</h3>
						<div class="section">
							<div class="form-group">
								{{input type="checkbox" checked=model.vmInfo.Cpu.isShowCpuPinningBlock}} 手动设置
							</div>
							
							{{#if model.vmInfo.Cpu.isShowCpuPinningBlock}}
							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;margin-top:6px;">
										<label for="">默认设置: </label>
									</div>
									<div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
										{{input class="form-control" value=model.vmInfo.Cpu.Pinning}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>
							</div>
							{{/if}}
						</div>
						{{/if}}
						{{/if}}


						{{#if (eq currentStep 3)}}
						<h2>内存</h2>
						<!--
						<h3>cpus</h3>
						-->
						<div class="section">
							<!--
							<div class="form-group">
								<label for="">当前处理机总核数: 24</label>
							</div>
							-->
							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;margin-top:6px;">
										<label for="">当前分配内存: </label>
									</div>
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
										{{input class="form-control" type="number" value=model.vmInfo.Memory.Current}}
									</div>
									<div class="col-md-1" style="padding-right: 0px;margin-top:6px;">
										MB
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;margin-top:6px;">
										<label for="">最大分配内存: </label>
									</div>
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
										{{input class="form-control" type="number" value=model.vmInfo.Memory.Max}}
									</div>

									<div class="col-md-1" style="padding-right: 0px;margin-top:6px;">
										MB
									</div>
								
									<div class="col-md-3" style="padding-right: 0px;margin-top:6px;">
										{{input type="checkbox" checked=model.vmInfo.Memory.isShowMemoryMore}}
										<label for="">高级选项</label>
									</div>

								</div>
							</div>
							
							{{#if model.vmInfo.Memory.isShowMemoryMore}}
							<div class="form-group">
								<div class="block">
								{{input type="checkbox" class="form-group" checked=model.vmInfo.Memory.Ksm}}
								&nbsp;
								<label for="">内存压缩</label>
								&nbsp;
										{{#common/io-tooltip}}
											<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
										{{/common/io-tooltip}}
								</div>
							</div>
							{{/if}}
							<!--
							<div class="form-group">
								<label for="">Maximum Allocation: </label>
								<input type="number" class="form-group" style="width: 80px" value="1"/>
							</div>
							-->
						</div>
						
						{{/if}}



						{{#if (eq currentStep 4)}}
						<h2>硬盘</h2>
						<!--
						<h3>cpus</h3>
						-->
						<div class="section">
							<!--
							<div class="form-group">
								<label for="">当前处理机总核数: 24</label>
							</div>
							-->
							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;margin-top:6px;">
									<label for="">磁盘类型: </label>
									</div>

									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
										{{view "select" class="form-control" prompt="请选择"
			 content=model.diskTypeData required=true value=model.vmInfo.Disk.Type optionValuePath="content.id" optionLabelPath="content.name"}}
									</div>

									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>

								</div>
							</div>

							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;margin-top:6px;">
										<label for="">磁盘大小: </label>
									</div>
									
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
									{{input class="form-control" type="number" value=model.vmInfo.Disk.Size}}
									</div>
									<div class="col-md-1" style="padding-left: 5px;margin-top: 6px;">
										GB
									</div>

									<div class="col-md-3" style="padding-left: 0px;padding-right: 0px;margin-top: 6px;">
									{{input type="checkbox" checked=model.vmInfo.Disk.isShowDiskMore}}
									<label for="">高级选项</label>
									</div>
								</div>
							</div>
							<!--
							<div class="form-group">
								<label for="">Maximum Allocation: </label>
								<input type="number" class="form-group" style="width: 80px" value="1"/>
							</div>
							-->
						</div>
						
						{{#if model.vmInfo.Disk.isShowDiskMore}}
						<h3>高级选项</h3>
						<div class="section">
							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;margin-top:6px;">
										<label for="">磁盘总线类型：</label>
									</div>
									<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
										{{view "select" class="form-control" prompt="请选择"
			 content=model.diskBusTypeData required=true value=model.vmInfo.Disk.BusType optionValuePath="content.id" optionLabelPath="content.name"}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>
							</div>
						</div>
						<h3>性能选项</h3>
						<div class="section">
							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;margin-top:6px;">
										<label for="">缓存模式：</label>
									</div>
									<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
										{{view "select" class="form-control" prompt="请选择"
			 content=model.diskCacheModeData required=true value=model.vmInfo.Disk.CacheMode optionValuePath="content.id" optionLabelPath="content.name"}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;margin-top:6px;">
										<label for="">IO模式：</label>
									</div>
									<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
										{{view "select" class="form-control" prompt="请选择"
			 content=model.diskIOModeData required=true value=model.vmInfo.Disk.IOMode optionValuePath="content.id" optionLabelPath="content.name"}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>
							</div>
						</div>
						{{/if}}
						{{/if}}



						{{#if (eq currentStep 5)}}
						<h2>网络</h2>
						<!--
						<h3>cpus</h3>
						-->
						<div class="section">
							<!--
							<div class="form-group">
								<label for="">当前处理机总核数: 24</label>
							</div>
							-->
							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;margin-top: 6px;">
										<label for="">网络类型: </label>
									</div>
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
										{{view "select" class="form-control" prompt="请选择"
			 content=model.networkTypeData required=true value=model.vmInfo.Network.NetworkType optionValuePath="content.id" optionLabelPath="content.name"}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>
							</div>
							
							
							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;margin-top: 6px;">
										<label for="">设备类型</label>
									</div>
									
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
										{{view "select" class="form-control" prompt="请选择"
			 content=model.networkDeviceTypeData required=true value=model.vmInfo.Network.DeviceType optionValuePath="content.id" optionLabelPath="content.name"}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>
							</div>
							
							<!--
							<div class="form-group">
								{{input type="checkbox"}}
								<label for="">sr-iov</label>
							</div>

							<div class="form-group">
								{{input type="checkbox"}}
								<label for="">passthrough</label>
							</div>
							-->
							
						</div>
						{{/if}}


						{{#if (eq currentStep 6)}}
						<h2>显示</h2>
						<!--
						<h3>cpus</h3>
						-->
						<div class="section">
							<!--
							<div class="form-group">
								<label for="">当前处理机总核数: 24</label>
							</div>
							-->
							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;margin-top: 6px;">
										<label for="">类型: </label>
									</div>
									<div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
										{{view "select" class="form-control" prompt="请选择"
			 content=model.displayTypeData required=true value=model.vmInfo.Display.Type optionValuePath="content.id" optionLabelPath="content.name"}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>
							</div>

							{{#if (not-eq "serialPorts" model.vmInfo.Display.Type)}}
							<div class="form-group">
								<div class="block">
									<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;margin-top: 6px;">
										<label for="">密码：</label>
									</div>
									<div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
										{{input class="col-md-10 form-control" value=model.vmInfo.Display.Password placeholder="密码"}}
									</div>
									<div class="col-md-2" style="padding-left: 10px;padding-right: 0px; margin-top: 6px;">
									{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="block">
								{{input type="checkbox" checked=model.vmInfo.Display.UpdatePassword class="form-group"}}
								&nbsp;
								<label for="">更新密码</label>
								&nbsp;
								{{#common/io-tooltip}}
										<b class="btn btn-circle btn-default btn-xs btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="提示信息"><i class="fa fa-info"></i></b>
									{{/common/io-tooltip}}
								</div>
							</div>
							{{/if}}
							
						</div>
						{{/if}}

						

					</div>
					<div class="block content shrink content-footer main-content">
						<div class="block pull-right">
						{{#if (not-eq 0 lastStep)}}
						<button type="button" class="btn btn-default" {{action "goToStep" lastStep}}>上一步</button> &nbsp;&nbsp;&nbsp;&nbsp;
						{{/if}}

						{{#if (not-eq 6 currentStep)}}
						<button class="btn btn-default" {{action "goToStep" nextStep}}>下一步</button>
						{{/if}}

						{{#if (eq 6 currentStep)}}
						<button type="submit" class="btn btn-default">提交</button>
						{{/if}}
						</div>
					</div>
				 </div>
			</div>
		</div>
	</div>
</div>
{{/common/io-modal}}



<div class="row" style="margin-left: 5px; margin-top: 10px; margin-right: 5px;">
				<div class="panel panel-info">
                    <div class="panel-heading" style="padding-left: 0px;">
                        <h3 class="panel-title">BASE</h3>
                    </div>

                    <table class="table big"><tbody><tr><td>

					<div class="col-md-12">
						<div class="panel panel-info" style="margin-bottom: 0px;">
							<div class="panel-heading" style="padding-left: 0px;">
		                        <h3 class="panel-title">RHEL</h3>
		                    </div>
	                    </div>
	                    
	                    <table class="table big"><tbody><tr><td>
						<div class="col-md-12">
							<div class="panel panel-info" style="margin-bottom: 0px;">
								<div class="panel-heading" style="padding-left: 0px;">
			                        <h3 class="panel-title">WEBLOGIC</h3>
			                    </div>
		                    </div>

		                    
							<table class="table big"><tbody><tr><td>
								<div class="col-md-12">
									<div class="panel panel-info" style="margin-bottom: 0px;">
										<div class="panel-heading" style="padding-left: 0px;">
					                        <h3 class="panel-title">GROUP</h3>
					                    </div>
				                    </div>
				                    <table class="table big">
										<thead>
											<tr>
												<th>ensure</th>
												<th>gid</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>present</td>
												<td>300</td>
											</tr>
										</tbody>
									</table>
				                </div>


								<div class="col-md-12">
									<div class="panel panel-info" style="margin-bottom: 0px;">
										<div class="panel-heading" style="padding-left: 0px;">
					                        <h3 class="panel-title">USER</h3>
					                    </div>
				                    </div>
				                    <table class="table big">
										<thead>
											<tr>
												<th>ensure</th>
												<th>groups</th>
												<th>shell</th>
												<th>home</th>
												<th>managehome</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>present</td>
												<td>300</td>
												<td>/bin/bash</td>
												<td>/bin/bash</td>
												<td>true</td>
											</tr>
										</tbody>
									</table>
				                </div>


			                </td></tr></tbody></table>
							

		                    
						</div>
						</td></tr></tbody></table>

					</div>
					
					</td></tr></tbody></table>

                    
                </div>
			</div>


			